/****************************************
 * Window 200
 * Button 100
 ***************************************/
.MRowEven { background-color: #E4F2FF;}

.MWidgetDisabledFrame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2000;
}
.MWidget {
	position: relative;
	display: inline-block;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
	.MWidget > div {
		height: 100%;
	}
.MFrame {
	border: 1px solid #769DC0;
	margin: 2px;
}
.MFrameShadow {
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}
.MFrameRounded {
	-webkit-border-radius: 2px;
}
.MPanel {
	display: block;
	position: relative;
	text-align: left;
	padding: 0px;
	border-width: 25px 2px 2px 2px;
	-webkit-border-image: url('i/MPanel.png') 25 2 2 2 stretch stretch;
}
.MDialog {
	position: absolute;
	z-index: 2200;
	border-width: 25px 6px 28px 6px;
	-webkit-border-image: url('i/MDialog.png') 25 6 28 6 stretch stretch;
	-webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}
.MPanelStatusBar {
	
}
	.MPanel > div {
		overflow: auto;
	}
	.MPanel span.label {
		position: absolute;
		top: -25px;
		width: 100%;
		height: 25px;
		font-size: 10pt;
		color: #15428B;
		text-shadow: 1px 1px 2px #fff;
		text-align: left;
		margin-top: 4px;
		line-height: 18px;
		padding-left: 18px;
	}
		.MPanel span.label img {
			position:absolute;
			top: 0px;
			left: 0px;
			width: 16px;
			height: 16px;
		}
	.MPanel .MPanelMove {
		cursor: move;
	}
	.MPanel div.actions {
		position: absolute;
		top: -20px;
		right: 0px;
		height: 18px;
	}
	.MPanel div.action {
		float: right;
		width: 14px;
		height: 14px;
		margin: 2px;
		cursor: pointer;
		background: url('i/dialogActions.png') top left no-repeat;
	}
		.MPanel div.close { background-position: top 0px; }
		.MPanel div.close:hover { background-position: bottom 0px; }
		.MPanel div.minimize { background-position: top -14px; }
		.MPanel div.minimize:hover { background-position: bottom -14px; }
		.MPanel div.maximize { background-position: top -42px; }
		.MPanel div.maximize:hover { background-position: bottom -42px; }
		.MPanel div.restore { background-position: top -28px; }
		.MPanel div.restore:hover { background-position: bottom -28px; }
	.MPanel .MStatusBar {
		margin-top: 2px;
		width: 100%;
		height: 24px;
	}
.MDialogMaximizeFrame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.MMessageBox {
	padding-top: 20px;
}
	.MMessageBox > div p {
		width: 90%;
		margin: 0px auto;
	}
	.MMessageBox > div p:last-child {
		margin-top: 8px;
		font-size: 75%;
	}
	.MMessageBox > div img {
		width: 64px;
		height: 64px;
		margin: 0px 12px;
		float: left;
	}
	.MMessageBoxIconInformation { background: url('i/MMessageBoxIcons.png') no-repeat -64px 0px }
	.MMessageBoxIconWarning { background: url('i/MMessageBoxIcons.png') no-repeat -128px 0px }
	.MMessageBoxIconCritical { background: url('i/MMessageBoxIcons.png') no-repeat -192px 0px }
	.MMessageBoxIconQuestion { background: url('i/MMessageBoxIcons.png') no-repeat 0px 0px }
.MSizePreview {
	position: absolute;
	top: -25px;
	left: -2px;
	width: 100%;
	height: 100%;
	border: 1px dashed #769DC0;
}
.MDialogSizeGrip {
	position: absolute;
	bottom: -18px;
	right: 0px;
	width: 13px;
	height: 13px;
	background: url('i/sizeGrip.png') no-repeat;
	cursor: nw-resize;	
}
.MButton {
	display: inline-block;
	text-align: center;
	font-size: 11px;
	margin: 0px;
	padding: 4px;
	border: 1px solid #769DC0;
	background: #E4F2FF url('i/button.png') 50% 0% repeat-x;
	vertical-align: middle;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.148438);
	cursor: pointer;
}
	.MButtonH > div:first-child { float: left; }
	.MButtonH > div:last-child { float: right; }
	.MButtonV > div:first-child, .MButtonV > div:last-child { width: 100%; text-align: center; }
.MButtonFlat {
	border-color: transparent;
	background: none;
	-webkit-box-shadow: none;
}
.MButton:hover, .MButtonFlat:hover {
	background: url('i/button.png') 50% 0% repeat-x;
	border-color: #769DC0;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	background-color: #99cfff;
}
.MButtonOut, .MButtonFlatOut {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	background-color: #E4F2FF;
}
.MButtonDown, .MButtonFlatDown {
	background: url('i/button.png') 50% 0% repeat-x;
	border-color: #769DC0;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: -webkit-box-shadow;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.148438);
	
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	background-color: #8bbce8;
}
	.MButton img {
		position: relative;
		margin: 0px;
	}
.MLineEdit {
	border: 1px solid #B5BCC7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color, border;
}
.MLineEdit:hover {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color, border;
	background-color: #E4F2FF;
	border: 1px solid #769DC0;
}
.MListWidget {
	overflow:auto;
}
.MListWidgetItem {
	cursor:default;
	height: 16px;
	padding: 1px;
}
	.MListWidgetItem span {
		margin: 0px 2px;
	}
	.MListWidgetItem:hover {
		padding: 0px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFEFF), to(#FDFEFF), color-stop(.9,#EDF5FF));
		border: 1px solid #b9d7fc;
		-webkit-border-radius: 2px;
	}
.MListItemWidgetSelected {
	padding: 0px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F8FF), to(#DFEEFF), color-stop(.9,#d0e5ff));
	border: 1px solid #b9d7fc;
	-webkit-border-radius: 2px;
}
	.MListItemWidgetSelected:hover {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBF4FD), to(#DBEAFD), color-stop(.9,#c2dcfd));
		border-color: #7da2ce;
	}

.mask {
	background: rgba(0,0,0,0.3);
	z-index: 1000;
}

.MSlider {
	
}
	.MSlider > div {
		position: relative;
		float: left;
	}
.MSliderArea {
	height: 4px;
	border: 1px solid #B5BCC7;
	background: #CFE5FA;
}
	.MSliderArea:hover {  }
.MSliderGrip {
	top: -4px;
	width: 16px;
	height: 15px;
	background: url('i/MSlider.png') -22px -0px no-repeat;
}
	.MSliderGrip:hover { background: url('i/MSlider.png') -22px -15px no-repeat;cursor: pointer; }
.MSliderStepLeft {
	width: 11px;
	height: 14px;
	background: url('i/MSlider.png') -11px -0px no-repeat;
}
	.MSliderStepLeft:hover { background: url('i/MSlider.png') -11px -14px no-repeat;cursor: pointer; }
.MSliderStepRight {
	width: 11px;
	height: 14px;
	background: url('i/MSlider.png') -0px -0px no-repeat;
}
	.MSliderStepRight:hover { background: url('i/MSlider.png') -0px -14px no-repeat;cursor: pointer; }

.MToolBar {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DAE6F4), to(#CEDDEF));
	border-top: 1px solid #f0f5fa;
	border-bottom: 1px solid #a9bfd3;
	padding: 2px 0px;
}
	.MToolBar > div {
		float:left;
	}
.MAction {
	display: inline-block;
	text-align: center;
	font-size: 10px;
	margin: 2px;
	padding: 2px 4px 4px;
	border: 1px solid #DAE6F4;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
.MAction:hover {
	border-color: #769DC0;
	background-image: url('i/button.png');
	background-position: 50% 0%;
	background-color: #E4F2FF;
}
.MActionSeparator {
	width: 20px;
	height: 100%;
	background: url('i/separator.gif') no-repeat;
}


/* SpinBox */
.MSpinBox {
	position: absolute;
	top: 1px;
	right: -1px;
	width: 11px;
	height: 100%;
	background: #333;
}
	.MSpinBox div {
		width: 11px;
		height: 9px;
	}
	.MSpinBox div:first-child { background: url('i/SpinBox.png') left -0px no-repeat; }
	.MSpinBox div:first-child:hover { background: url('i/SpinBox.png') right -0px no-repeat; }
	.MSpinBox div:last-child { background: url('i/SpinBox.png') left -9px no-repeat; }
	.MSpinBox div:last-child:hover { background: url('i/SpinBox.png') right -9px no-repeat; }

.MMenu {
	position: absolute;
	border: 1px solid #979797;
	background: #f1f1f1 url('i/MMenu.png') repeat-y;
	padding: 2px;
	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,.5);
}
.MMenuItem {
	position: relative;
	height: 20px;
	max-height: 22px;
	border: 1px solid #f1f1f1;
	font-size: 10pt;
	font-family: Verdana;
	vertical-align: middle;
	cursor: default;
	padding: 2px 16px 0px 0px;
}
	.MMenuItem:hover {
		background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#F2F4F6), to(#e6edf6));
		border: 1px solid #aecff7;
		-webkit-border-radius: 2px;
	}
	.MMenuItem img {
		float: left;
		width: 16px;
		height: 16px;
		padding: 0px 4px;
	}
	.MMenuItem div:last-child {
		float: left;
		height: 18px;
		max-height: 20px;
		padding: 0px 4px;
	}
	.MMenuItemDisabled {
		color: #6d6d6d;
	}
	.MMenuItemDisabled:hover {
		background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#F2F2F2), to(#E3E4E4));
		border: 1px solid #d4d3d3;
	}
	.MSubMenuIcon {
		position: absolute;
		top: 8px;
		right: 0px;
		width: 4px;
		height: 7px;
		background: url('i/MSubMenuIcon.png') no-repeat;
	}
.MMenuSeparator {
	height: 8px;
	max-height: 8px;
	background: url('i/MMenuSeparator.png') repeat-x;
	cursor: default;
}
.MSplitButton {
	display: table;
	width: 14px;
	float: right;
	margin: 0px;
	background: url('i/MSplitButton.gif') 100% 50% no-repeat;
}
.MWidgetDisabled {
	background-position:0px -149px;
    background-color: #e3e3e3;
    border: solid 1px #c9c9c9;
    color: #696969;
    box-shadow:0px 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow:0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.MTabBar {
	position: relative;
	height: 32px;
	background: #999;
}
.MTab {
	position: relative;
	float: left;
	height: 100%;
	background: #ccc;
}
.MTabCurrent {
	background: #fff;
}
.MGroupBox {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}










