/****************************************
 * Window 2200
 * Button 2100
 ***************************************/
.MWidget {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.MDialog {
	position: absolute;
	text-align: left;
	padding: 0px;
	background: #fff;
	border-width: 25px 1px;
	z-index: 2200;
	-webkit-border-image: url('i/window.png') 25 1 25 1 stretch stretch;
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}
	.MDialog span.label {
		position: absolute;
		top: -25px;
		width: 100%;
		height: 25px;
		font-size: 10pt;
		text-shadow: 1px 1px 2px #fff;
		text-align: center;
		cursor: pointer;
	}
		.MDialog span.label img {
			width: 16px;
			height: 16px;
		}
	.MDialog div.actions {
		position: absolute;
		top: -20px;
		
	}
	.MDialog div.action {
		float: left;
		width: 16px;
		height: 16px;
		margin-right: 2px;
		cursor: pointer;
		background: url('i/action_button.png') top left no-repeat;
	}
		.MDialog div.close:hover {
			background: url('i/action_button.png') -16px left no-repeat;
		}
		.MDialog div.minimize:hover {
			background: url('i/action_button.png') -32px left no-repeat;
		}
		.MDialog div.maximize:hover {
			background: url('i/action_button.png') -48px left no-repeat;
		}
.MSizePreview {
	position: absolute;
	top: -25px;
	left: -1px;
	width: 100%;
	height: 100%;
	border: 1px dashed #769DC0;
}
.MDialogSizeGrip {
	position: absolute;
	bottom: -20px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: url('i/sizeGrip.png') no-repeat;
	cursor: nw-resize;
	
}
.MFrame {
	border: 1px solid #769DC0;
	margin: 2px;
}
.MButton {
	display: inline-block;
	text-align: center;
	font-size: 10px;
	margin: 2px;
	padding: 2px 4px 4px;
	border: 1px solid #769DC0;
	background-color: #E4F2FF;
	background-image: url('i/button.png');
	background-position: 50% 0%;
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.148438);
	cursor: pointer;
}
.MButton:hover {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	background-color: #99cfff;
}
.MButtonOut {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	background-color: #E4F2FF;
}
.MButtonDown {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: -webkit-box-shadow;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.148438);
}
	.MButton img {
		margin-top: 0px;
	}
	.MButton .vcenter {
		vertical-align: middle;
	}
	.MButton img {
		position: relative;
		float: left;
		margin-right: 2px;
	}
	.MButton span {
		clear:both;
		/*display: inline-block;*/
		position: relative;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
.MLineEdit {
	border: 1px solid #B5BCC7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.MLineEdit:hover {
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: background-color, border;
	background-color: #E4F2FF;
	border: 1px solid #769DC0;
}
.MListWidget {
	overflow:auto;
}
.MListWidgetItem {
	cursor:default;
	height: 16px;
}
.MListItemWidgetSelected {
	color: #fff;
	background: #99cfff;
}

.mask {
	background: rgba(0,0,0,0.3);
	z-index: 1000;
}